.about {
	height: 115vh;
	background-image: url("../images/03.png");
	background-size: cover;
}

#heading {
	color: #004b87;
	font-family: "chaletBook-regular";
	font-size: 40px;
}
span {
	font-size: small;
}
.paragraph p {
	color: #636363;
	font-size: small;
}
.link a {
	color: #004b87;
	font-size: small;
	font-family: "chaletBook-regular";
}

/* For Smartphones */
@media all and (max-width: 670px) {
	.paragraph p {
		color: #636363;
	}

	.col-sm-6.title {
		background-color: rgb(255, 255, 255);
		padding-bottom: 52%;
	}
	span {
		font-size: large;
	}
}
