.contactUs{
    background-color: black;
    display: flex;
    flex-direction: row;
}
.contactform{
    height: 90vh;
    width: 30%;
    margin-left: 7%;
 }

 input[type=text] {
     background-color: black;
    border-width: 0px;
    border-bottom: 1px solid #707070;
  }

  input[type=password] {
    background-color: black;
   border-width: 0px;
   border-bottom: 1px solid #707070;
 }

 input[type=email] {
    background-color: black;
   border-width: 0px;
   border-bottom: 1px solid #707070;
 }

 input[type=textarea] {
    background-color: black;
   border-width: 0px;
   border-bottom: 1px solid #707070;
 }

 .tell{
    font-family: intro; 
    color:white;
    text-align: left;
 }

 .youare{
    font-family: intro;
    color:white;
    text-align: left;
    padding-bottom: 7%;
 }


 .footer{
     justify-content: center;
     display: flex;
     background-color:  #242b30;
     color:  #e7ecf0;
     flex-direction: row;
     
 }

 .aboutus{
    width: 20%;
    font-family: intro;
 }

 .maboutus{
     padding-left: 3%;
 }


 .searchbar-input-wrap{
    border-radius: 12px;
}

