
.explores {
  background-color: #5555;
  color: #636363;
}
a.homeNav {
  color: gray;
}
a.homeNav:hover {
 text-decoration: none;
  background-color: #f89c1e;
  opacity: 0.5;
  }
 
.toServe {
  color: #004b87;
  font-size: 35px;
}
.text {
  color: #636363;
  margin-bottom: 0;
  font-size: small;
}

.texts {
  margin-left: 20%;
  margin-top: 100px;
  margin-bottom: 7.4%;
}
h4 {
  text-align: center;
  font-family: "chaletBook-regular";
}
.strategyPragraph p {
  color: #636363;
  font-size: small;
  margin: 0px;
  text-align: center;
}

img#stategy {
  height: 100px;
  width: 100px;
}
.startegyImage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.firstRow {
  display: flex;
  justify-content: space-around;
  padding: 25px;
}



@media all and (max-width: 670px) {
  .texts {
    margin: 15% 10%;
  }
  .firstRow {
    display: block;
  }
}

/* For Tablets */
@media (min-width: 670px) and (max-width: 1000px) {
}
