.footer {
  display: flex;
  justify-content: space-between;
  background-color: #242b30;
  padding-top: 25px;
  font-family: "chaletBook-regular";
}
h6 {
  padding-bottom: 8%;
  color: lightgray;
  font-family: "chaletBook-bold";
}

#text1 {
  margin-bottom: inherit;
  color: #959595;
  font-size: 12px;
}
p#text4 {
  color: #959595;
  font-size: 13px;
  margin: 2px;
}
.column1 {
  margin-left: 50px;
}
.column4 {
  width: 20%;
  margin-right: 40px;
}
.email_input {
  display: flex;
}

input#emailInput {
  margin: 0;
  background-color: white;
  border-radius: 12px 0px 0px 12px;
  width: 70%;
  height:29px;
  text-align: center;
  padding: 5.4px;
  font-family: cursive;
  font-size: 12px;
}
p#button {
  border-radius: 0px 12px 12px 0px;
  background-color: #004b87;
  border: #004b87;
  width: 30%;
  padding: 3.6px;
  padding-top: 7px;
  color: white;
  font-size: 12px;
  font-family: "chaletBook-bold";
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #242b30;
  padding-bottom: 20px;
}

img.tt-img {
  height: 33px;
  margin-right: 160px;
  color: #959595;
}

img.fb-img,
img.ig-img {
  height: 20px;
  margin: 2px;
  height: 30px;
  margin-right: 250px;
}

img.fb-img,
img.ig-img {
  height: 30px;
  margin-right: 20px;
}

.copy {
  background: #242b30;
  text-align: center;
  padding-bottom: 0.2px;
}
.copy .line {
  display: block;
  border: 0px;
  border-bottom: 1px solid #959595;
  padding: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.copy p {
  padding-top: 8px;
  color: rgb(156, 155, 155);
  font-size: 12px;
}
