.footer{
    display: flex;
    justify-content: space-between;
     background-color: rgb(17, 15, 15);
     padding-top: 25px;
}
h6{
    color:lightgray;
   font-weight: bold;
}



#text1{
    margin-bottom: inherit;
    color: rgb(156, 155, 155);
    font-size: 12px;
}
p#text4 {
    color: rgb(156, 155, 155);
    font-size: 13px;
    margin: 2px;
}
.column1{
    margin-left: 50px;
}
.column4{
    width:20%;
    margin-right: 40px;
}


input#emailInput {
    margin: 0;
    background-color: white;
    border-radius:12px 0px 0px 12px ;
    width:70%;
    text-align: center;
    padding: 4px;
    font-family: cursive;
    font-size: 14px;

}
button#button {
    border-radius:0px 12px 12px 0px ;
    background: darkblue;
    border: darkblue;
    width: 30%;
    padding: 4px;
    color: white;
    font-size: 14px;

}

.socialMedia{
    display: flex;
   flex-direction: row;
   justify-content: flex-end;
    background-color: rgb(17, 15, 15);
    padding-bottom: 20px;

}

img.tt-img {
    height: 20px;
    margin-right: 250px;
   
}

img.fb-img,img.ig-img{
    height: 20px;
    margin:2px;
}

.copy {
    background: rgb(17, 15, 15);
    text-align: center;
    border-top: 3px solid gray;
    padding-bottom: 2px;
}

.copy p{
  color: rgb(156, 155, 155);
  font-size: 13px;
}