@font-face {
  font-family: "chaletBook-regular";
  src: url("../fonts/ChaletBook.ttf");
  font-style: normal;
}

@font-face {
  font-family: "chaletBook-bold";
  src: url("../fonts/ChaletBookBold.ttf");
}

.services {
  height: 100vh;
  background-image: url("../images/02.png");
  background-size: cover;
}

.image {
  height: 80%;
  width: 100%;
}

#head {
  color: #f89c1e;
  font-family: "chaletBook-regular";
  font-size: 40px;
}

p {
  color: #ffff;
  font-size: small;
  font-family: "chaletBook-regular";
}

#pexplore {
  color: #f89c1e;
  font-size: small;
  font-family: "chaletBook-regular";
}
#pexplore span {
  color: #f89c1e;
}

.title {
  padding: 10%;
}

.content {
  padding-top: 8%;
}

/* For Smartphones */
@media all and (max-width: 670px) {
  #pexplore {
    font-size: large;
    font-family: "chaletBook-regular";
  }
}

/* For Tablets */
@media (min-width: 670px) and (max-width: 1000px) {
}
